apiVersion: apps/v1
kind: Deployment
metadata:
  name: autoscaler
spec:
  replicas: 0
  selector:
    matchLabels:
      app: autoscaler
  template:
    metadata:
      labels:
        app: autoscaler
    spec:
      nodeSelector:
        app: test
      containers:
      - name: app
        image: public.ecr.aws/eks-distro/kubernetes/pause:3.7
        resources:
          requests:
            cpu: 1
            memory: 1Gi
